@font-face {
    font-family: RobotoBlack;
    src: local("Roboto Black"),
    url(./Roboto/Roboto-Black.ttf) format("truetype");
}

@font-face {
    font-family: RobotoBlackItalic;
    src: local("Roboto BlackItalic"),
    url(./Roboto/Roboto-BlackItalic.ttf) format("truetype");
}

@font-face {
    font-family: RobotoBold;
    src: local("Roboto Bold"),
    url(./Roboto/Roboto-Bold.ttf) format("truetype");
}



@font-face {
    font-family: RobotoMedium;
    src: local("Roboto Medium"),
    url(./Roboto/Roboto-Medium.ttf) format("truetype");
}

@font-face {
    font-family: RobotoRegular;
    src: local("Roboto Regular"),
    url(./Roboto/Roboto-Regular.ttf) format("truetype");
}


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Roboto-Light
Roboto-LightItalic
Roboto-Medium
Roboto-MediumItalic
Roboto-Regular
Roboto-Thin
Roboto-ThinItalic */



