@import './variable.scss';
@import './fonts//fonts.css';

body {
  font-size: 16px;
  font-family: 'RobotoRegular';
  background-color: #f8f9f1;
  text-rendering: optimizeSpeed;

  textarea:focus,
  textarea.form-control:focus,
  input.form-control:focus,
  input[type='text']:focus,
  input[type='password']:focus,
  input[type='email']:focus,
  input[type='number']:focus,
  [type='text'].form-control:focus,
  [type='password'].form-control:focus,
  [type='email'].form-control:focus,
  [type='tel'].form-control:focus,
  [contenteditable].form-control:focus {
    box-shadow: inset 0 -1px 0 transparent;
  }

  .btn {
    border-radius: 25px;
    min-width: 100px;
    margin-left: 10px;
  }
  .btn.btn-outline-primary:hover {
    background-color: #5369b4;
    border: #5369b4;
  }
  .btn.btn-outline-secondary:hover {
    background-color: #7c7c7c;
  }
  .btn.btn-primary {
    background-color: #052695;
    border: #052695;
  }
  .btn.btn-primary:hover {
    background-color: #5369b4;
    border: #5369b4;
  }
}
a {
  color: white;
}
.link {
  color: #02061f !important;
}
.rounded,
.choose-image {
  border-radius: 20px !important;
}
p {
  margin-top: 1rem;
  font-family: 'Poppins', sans-serif;
  text-align: justify;
}

.form-control {
  border-radius: 0px;
}

ul.unodr-list{
  font-size: 14px;
  list-style: none;
  padding: 0;
  margin: 20px 5px;
  li{
    margin: 0;
    margin-bottom: 10px;
    padding-left: 15px;
    position: relative;
    &:after {
      content: '';
      height: 6px;
      width: 6px;
      background: #042183;
      display: block;
      position: absolute;
      transform: rotate(45deg);
      top: 7px;
      left: 0;
    }
  }
}

.content-heading {
  text-align: center;
  display: flex;
  align-items: center;
  width: 100%;

  span {
    margin: 0px 20px;
    color: #02061f;
    font-family: 'RobotoBold';
    font-size: 30px;
  }
}

.content-heading::before,
.content-heading::after {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  content: '';
  display: block;
  border-top: 2px solid #052695;
}

.admin-app-header {
  background-color: #02061f;
  color: white;
  border-radius: 3px;
}

.app-header {
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  background-color: #f8f9f1 !important;

  .nav-link {
    border-bottom: solid 3px transparent;
    margin: 0px 5px;
    font-family: 'RobotoMedium';
  }

  .nav-link.active {
    border-bottom: solid 3px #02061f;
  }
  .nav-link:hover {
    border-bottom: solid 3px #728cb0;
  }
}

.technology-timeline {
  margin: auto;
  position: relative;

  h5.technology-timetitle {
    font-size: 22px;
  }

  img {
    width: 150px !important;
    margin: auto;
    display: block;
  }
}

.technology-timeline.firsttimeline::after {
  left: 35%;
}

.technology-timeline.lasttimeline::after {
  right: 35%;
}

.technology-timeline::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%;
  border-top: 3px solid black;
  z-index: -1;
}

.technology-card:hover {
  .technology-title::after {
    left: 0;
    right: auto;
    width: 100%;
  }
}

.technology-card {
  border: none;
  border-radius: 0px;

  .card-body {
    text-align: center;
    background-color: #5369b4;
  }

  .card-text {
    margin-top: 10px;
  }

  .technology-title {
    display: inline;
    position: relative;
    overflow: hidden;
    font-size: 23px;
    white-space: nowrap;
  }

  .technology-title::after {
    content: '';
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: -5px;
    background: #02061f;
    height: 4px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  .tech-icon-span {
    margin: auto;

    .tech-icon {
      border-radius: 50%;
      margin: auto;
      display: block;
      background: #c00;
      padding: 20px;
      font-size: 25px;
      color: #fff;
    }
  }

  .tech-content {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.technology-card:hover {
  border: none;
  background: #5369b4;
}

.help-cont-service:hover {
  cursor: pointer;

  .help-cs-inner {
    transform: rotateY(180deg);
    .card-text {
      .help-navigate:hover {
        height: 50px;
        width: 50px;
        float: right;
        border-radius: 50%;
        border: solid 2px#02061f;

        .tech-icon {
          height: 30px;
          padding: 10px 11px;
        }
      }
    }
  }
}

.help-cont-service {
  background: #5369b4;
  color: #fff;
  height: 300px;

  .help-cs-inner {
    position: relative;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;

    .help-cs-front,
    .help-cs-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    .help-cs-front {
      .card-title {
        text-align: center;
        margin: 80px 20px;
        color: #02061f;
        font-weight: 600;

        .tech-icon {
          font-size: 35px;
          color: #02061f;
        }
      }
    }

    .help-cs-back {
      transform: rotateY(180deg);

      .card-text {
        .help-content {
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          margin: 80px 20px;
        }

        .help-navigate {
          height: 50px;
          width: 50px;
          float: right;
          position: absolute;
          right: 10px;
          bottom: 10px;

          .tech-icon {
            height: 30px;
            padding: 10px 11px;
            color: #02061f;
          }
        }
      }
    }
  }
}

.help-navigate-back {
  height: 50px;
  width: 50px;
  float: right;
  cursor: pointer;
  position: absolute;
  bottom: 0px;

  .tech-icon {
    height: 30px;
    padding: 10px 11px;
    color: #02061f;
  }
}

.help-cont-card {
  width: 100%;
  /* for the image outside invisibility */
  overflow: hidden;
  position: relative;
  cursor: pointer;
  /* For the text defined in the image-container */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 6px;

  // .card-body {
  //     .card-title {
  //         font-size: 35px;
  //         -webkit-transition: color 2s, font-size 2s;
  //         -moz-transition: color 2s, font-size 2s;
  //         -o-transition: color 2s, font-size 2s;
  //         transition: color 2s, font-size 2s;
  //     }

  //     .card-text {
  //         opacity: 0;
  //         // .help-content {
  //         // }
  //     }

  //     .btn-link {
  //         position: absolute;
  //         bottom: 16px;
  //         left: 16px;
  //     }
  // }
  .first-line,
  .second-line,
  .third-line,
  .fourth-line {
    position: absolute;
    background-color: #fff;
    transition: width 0.2s, height 0.2s;
    z-index: 3;
  }

  .first-line {
    left: 0;
    top: 10px;
    width: 0;
    height: 2px;
  }

  .second-line {
    right: 10px;
    top: 0;
    height: 0;
    width: 2px;
  }

  .third-line {
    right: 0;
    bottom: 10px;
    width: 0;
    height: 2px;
  }

  .fourth-line {
    bottom: 0;
    left: 10px;
    height: 0;
    width: 2px;
  }

  .overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.349);
    opacity: 0.7;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s;
    z-index: 2;
  }

  .card-body {
    padding: 0px;

    .card-title {
      font-size: 20px;
      height: 50px;
      position: absolute;
      top: 20px;
      left: 30px;
      right: 30px;
      z-index: 1000;
      color: #ffffff;
    }

    .card-text {
      opacity: 1;
      transition: all 0.3s;
      position: absolute;
      opacity: 0;
      top: 40%;
      z-index: 100;
      left: 30px;
      right: 30px;

      .help-content {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.help-cont-card:hover .first-line {
  width: 100%;
  transition-delay: 0;
}

.help-cont-card:hover .second-line {
  height: 100%;
  transition-delay: 0.2s;
}

.help-cont-card:hover .third-line {
  width: 100%;
  transition-delay: 0.4s;
}

.help-cont-card:hover .fourth-line {
  height: 100%;
  transition-delay: 0.6s;
}

.help-cont-card:hover img {
  transform: scale(1.2);
  transition-delay: 0.3s;
}

.help-cont-card:hover .overlay {
  opacity: 0.4;
}

.help-cont-card:hover::before {
  opacity: 1;
  transform: translateY(0);
}

.help-cont-card:hover {
  cursor: pointer;

  .overlay {
    position: absolute;
    background-color: #000;
    opacity: 0.7;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s;
    z-index: 2;
  }

  .card-body {
    .card-title {
      font-size: 20px;
      height: 50px;
      font-family: 'RobotoMedium';
    }

    .card-text {
      opacity: 1;
      transition: all 0.3s;

      .help-content {
        opacity: 1;
        color: #ffffff;
      }
    }
  }
}

.scroll-content {
  overflow: auto;
}

.admin-footer {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
}
.secondry-footer {
  background: #02061f;
  .foo-content-copyright-text {
    text-align: center;
    color: $lightColor;
  }
}
.main-footer {
  background: $darkColor;
  color: $lightColor;
  padding: 0px 100px;

  .show-btn {
    display: block;
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 30px;
    color: #02061f;
    svg {
      color: #5369b4;
      border: solid 2px #f8f9f1;
      border-radius: 50%;
    }
  }

  .hidden-btn {
    display: none;
  }

  .foo-content-text-admin {
    font-size: 14px;
    text-align: center;
    margin: 10px 0px;
  }

  .foo-content-text {
    font-size: 20px;
    margin-top: 1rem;
  }

  .list-group.list-group-horizontal.foo-social-icon {
    justify-content: center;

    .list-group-item {
      border: none;
      width: 20%;
      text-align: center;
      background: transparent;

      button {
        font-size: 25px;
        color: $lightColor;
        min-width: 50px !important;
        height: 50px !important;
        border-radius: 50%;
        /* background: red; */
        border: solid 2px #bcc4bc;
      }
      button:hover {
        background-color: #95a1bb;
        .Edit-icon {
          transition: 0.9s;
          transform: rotateX(360deg);
        }
      }
    }
  }

  .foo-newsltr-form {
    input.form-control {
      border-radius: 0px;
      background-color: #424242;
      border: none;
    }

    input:focus.form-control {
      border: none;
      outline: 0;
      background-color: #dad6d6;
    }

    .btn {
      width: 100%;
      background: $redColor;
    }

    .btn:hover {
      background: #910606;
    }
  }

  .foo-link {
    color: $lightColor;
    font-size: 20px;
    padding: 0px;
  }

  .foo-link:hover {
    color: #928e8e;
  }

  .list-group.list-group-horizontal.foo-menu-link {
    justify-content: center;

    .list-group-item {
      border: none;
      width: 20%;
      text-align: center;
      background: transparent;

      .btn {
        color: $lightColor;
        white-space: nowrap;
        text-decoration: none;
        border-radius: 0px;
      }
      .btn:hover {
        border-bottom: solid 3px #5369b4;
      }
      .btn.active {
        border-bottom: solid 3px #052695;
      }
    }
  }
}

.full-modal-box {
  .modal-content {
    background-color: #000000c2;

    .modal-header {
      border: none;

      .modal-close {
        margin-left: auto;
        color: #ffffff;
        font-size: 20px;
      }

      button {
        color: #ffffff;
      }
    }
  }
}

.panel-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 60px;
  left: 0px;
  background-color: #42424275;
  z-index: 9999;
}

.panel {
  position: fixed;
  right: 0px;
  height: 100%;
  top: 60px;
  bottom: 50px;
  width: 600px;
  background: #ffffff;
  box-shadow: -5px 0px 5px 0px #403c4329;
  z-index: 10000;

  .panel-close {
    position: fixed;
    right: 10px;
    top: 70px;
    cursor: pointer;
  }

  .panel-header {
    margin-top: 20px;
    text-align: center;
    font-family: 'RobotoMedium';
  }

  .panel-content {
    margin: 20px;
    padding: 30px;
  }

  .panel-footer {
    position: fixed;
    bottom: 0px;
    z-index: 1001;
    right: 0px;
    width: 600px;
    padding: 5px 0px;
    background: #02061f;
    height: 41px;
  }
}

.page-message {
  visibility: visible;
  position: fixed;
  top: 60px;
  z-index: 1000;
  padding: 5px;
  width: 73%;

  .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 7px;
    margin-top: 5px;
  }
}

.user-profile {
  display: flex;
  text-decoration: none;

  .profile-icon {
    padding: 5px;
  }

  .profile-username {
    margin-bottom: 0px;
    font-size: 14px;
    text-decoration: none;
    margin-top: 5px;
  }

  &::before {
    margin-top: 10px;
  }
}

.side-menu {
  .list-group-item.active,
  .list-group-item {
    background-color: transparent;
    color: #000000;
    border: none;
    /* margin: 0px -8px; */
    border-bottom: solid 2px #ccb7b7;
    border-radius: 0px;
  }
}

.page-banner {
  height: 350px;
  overflow: hidden;
}

.service-tabs {
  .nav-item {
    border: none;
    background: transparent;
    color: black;
    min-height: 70px;
    border-radius: 0px;

    a.nav-link {
      background: transparent;
      color: black;
      min-height: 70px;
      border-radius: 0px;
      box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
      padding: 20px 10px;

      .link-icon {
        font-size: 20px;
        margin-right: 15px;
        width: 50px;
      }
    }

    &:hover,
    a.nav-link.active {
      background: #8c898943;
    }
  }
}

.service-contact {
  background-image: url(../images/service-contact.jpg);
  height: 300px;

  .card {
    margin-top: 70px;

    .card-title {
      margin-bottom: 30px;
    }
  }
}

.career-tabs {
  .list-group {
    .list-group-item {
      border: none;
      background-color: #f8f9f1;
    }
  }
}

.job-list {
  display: block;
  padding: 10px;
  border-bottom: solid 2px #5369b4;

  .job-title {
    display: inline-block;
    width: 50%;
  }

  .job-location {
    display: inline-block;
    width: 40%;
  }

  .job-link {
    display: inline-block;
    width: 10%;
  }

  .job-description {
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.login-bg {
  padding-left: 0;

  .page-close {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 25px;
    color: #ffffff;
    height: 32px;
    width: 32px;
    padding: 5px;
    background: #0422857d;
    border-radius: 50%;
    cursor: pointer;
  }

  .backgrnd-img {
    position: fixed;
    z-index: -3;
    width: 100%;
    top: 0;
    height: 100%;
  }

  .overlay {
    position: fixed;
    z-index: -1;
    width: 100%;
    top: 0;
    height: 100%;
    background-color: #000000aa;
  }

  .login-form-content {
    margin-top: 9%;
  }
}

.signup-bg {
  padding-left: 0;

  .page-close {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 25px;
    color: #ffffff;
    height: 32px;
    width: 32px;
    padding: 5px;
    background: #0422857d;
    border-radius: 50%;
    cursor: pointer;
  }

  .backgrnd-img {
    position: fixed;
    z-index: -3;
    width: 100%;
    top: 0;
    height: 100%;
  }

  .overlay {
    position: fixed;
    z-index: -1;
    width: 100%;
    top: 0;
    height: 100%;
    background-color: #000000aa;
  }

  .login-form-content {
    margin-top: 5%;

    .form-label {
      color: #ffffff;
    }

    .error-msg {
      color: #ba3939;
      margin-bottom: 0px;
      position: absolute;
    }
  }
}

.indicaroter-image {
  display: flex;
  position: absolute;
  bottom: 0px;

  button.indicator-button {
    border: none;
    width: 100px;
  }
}

.col-md-2_5 {
  width: 20%;
}

.choose-image {
  display: block;
  margin: auto;
  width: 100%;
}

.react-phone-control {
  .react-tel-input {
    input {
      width: 100%;
      border-radius: 0px;
      height: 38px;
    }
  }
}

.contact-card {
  text-align: center;
  height: 180px;
  background-color: #052695;
  color: white;
  a:hover {
    color: #02061f;
  }

  address {
    margin-bottom: 0px;
  }

  .contact-icon {
    font-size: 50px;
    display: block;
    margin: auto;
    margin-bottom: 5px;
    color: #02061f;
  }
}

.contact-card:hover {
  background-color: #5369b4;
  cursor: pointer;
}

.left {
  margin-left: 1rem;
}

@media only screen and (max-width: 481px) {
  .app-header {
    .app-header-container {
      justify-content: unset;
      .profile-dd {
        margin-left: auto;
      }
    }
  }

  .signup-bg {
    padding: 0px;

    .login-form-content {
      padding: 10px;
      margin-top: 12% !important;
    }
  }

  .login-bg {
    padding: 0px;

    .login-form-content {
      padding: 10px;
      margin-top: 60% !important;
    }
  }
  .page-banner {
    height: auto;
  }
  .panel {
    width: 100%;
  }
  .mob-sidemenu {
    width: 280px;
    position: fixed;
    top: 60px;
    height: 100%;
    background: #ffffff;
  }

  .technology-timeline {
    // width: 100px;
    margin: auto;
    position: relative;

    h5.technology-timetitle {
      font-size: 15px;
    }

    img {
      width: 150px !important;
      margin: auto;
      display: block;
    }
  }

  .col-md-2_5 {
    width: 80%;
    margin: auto;
  }

  .technology-timeline.firsttimeline::after {
    left: 35%;
  }

  .technology-timeline.lasttimeline::after {
    right: 35%;
  }

  .technology-timeline::after,
  .firsttimeline::after {
    content: '';
    background-color: #02061f;
    position: absolute;
    width: 5px;
    height: 115px;
    top: 16px;
    left: 50% !important;
    display: block;
  }

  .main-footer {
    padding: 10px;

    .foo-menu-link {
      .list-group-item {
        padding: 0px;
        width: auto !important;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .login-bg {
    padding: 0px;

    .login-form-content {
      padding: 10px;
      margin-top: 40%;
    }
  }

  .signup-bg {
    padding: 0px;

    .login-form-content {
      margin-top: 30%;
    }
  }
}

@media only screen and (max-width: 1180px) {
  .login-bg {
    padding: 0px;

    .login-form-content {
      padding: 10px;
      margin-top: 40%;
    }
  }

  .signup-bg {
    padding: 0px;

    .login-form-content {
      margin-top: 30%;
    }
  }
}
